* {
    padding: 0;
    margin: 0;
}
.item {
    border: 1px solid teal;
    max-width: 250px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.item img {
    max-width: 250px;
}
.item button {
    background: transparent;
    border: 1px solid teal;
    padding: 5px 10 px;
    border-radius: 8px;
}
.container {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    align-items: center;
}
.box {
    width: 250px;
    height: 400px;
    background: red;
    border-radius: 8px;
}