body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}
.title {
    font-size: 40px;
    color: #f03333;
    line-height: 1.2;
    text-transform: uppercase
}
.subtitle {
    font-size: 30px;
    color: #12ac11;
    line-height: 1.2;
    text-decoration: underline;
}
.list {
    font-size: 20px;
    color: #444;
    font-style: italic;
    list-style-type: square;
}
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.pagination {
    margin-top: 0 auto;
}
.pagination a {
    /* display: inline-block; */
    width: 40px;
    height: 40px;
    /* line-height: 40px; */
    text-align: center;
    background-color: #ddd;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 3px; /* Расстояние между элементами навигации */
    /* transition: background-color 0.3s ease; */
}
.pagination a.active {
    background-color: #d10953;
    color: #fff;
}

.pagination .prev, .pagination .next {
    font-size: 24px;
    line-height: 40px;
}